
<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']" >
        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
        CMS
      </a>          
    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/user']">User</a></li>
        <li><a [routerLink]="['/github']" >Github</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a [routerLink]="['/register']"  routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>


  <div class="panel panel-warning" *ngIf="isAdmin">
      <div class="panel-heading">
        <h3 class="panel-title">Registration</h3>
      </div>
      <div class="panel-body">
        <form class="form" #form="ngForm" (submit)="regUser(form)">    <!--  <<<<<<<<<<<<<<<<<<<Form Started Here      -->
        
          <div class="form-group" [class.has-error]="Name.invalid && Name.touched">
            <label for="name" class="control-label">Name:</label>
            <input  type="text"
                    id = "name"
                    name = "name"
                    class="form-control"
                    [(ngModel)]="myModel.name"
                    #Name = "ngModel"
            required />
            <div class="alert alert-danger" *ngIf="Name.invalid && Name.touched">
              Please enter Name.
            </div>
          </div>
          <div class="form-group" [class.has-error]="Mail.invalid && Mail.touched">
            <label for="mail" class="control-label">Email:</label>
            <input  type="text"
                    id = "mail"
                    name = "email"
                    class="form-control"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    [(ngModel)]="myModel.email"
                    #Mail = "ngModel"
            required />
            <div class="alert alert-danger" *ngIf="Mail.invalid && Mail.touched">
              Email id is not valid.
            </div>
          </div>
          <div class="form-group" [class.has-error]="Pass.invalid && Pass.touched">
            <label for="password" class="control-label">Password:</label>
            <input  type="text"
                    id = "password"
                    name = "password"
                    class="form-control"
                    minlength="8"
                    [(ngModel)]="myModel.password"
                    #Pass = "ngModel"
            required />
            <div class="alert alert-danger" *ngIf="Pass.invalid && Pass.touched">
              Password should be minimum 8 character long.
            </div>
          </div>

          
          <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
          <button type="reset" class="btn btn-dark">Reset</button>
        </form>
      </div>
  </div>

  
  <div class="jumbotron" *ngIf ="!isAdmin">
    <div class="container">
      <h1>You are Not Admin</h1>
      <p>Only Admin can add or register new user if you are admin please Login with ADMIN ID</p>
      <p>
        <a class="btn btn-primary btn-lg" [routerLink]="['/home']">GO TO LOGIN</a>
      </p>
    </div>
  </div>
  
  
</div>
