
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact List</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      .panel{ 
        margin-top: 1.5em;
      }
      .dropdown-menu li{
        height: 2.5em;
      }
      .panel-heading h2{
        padding: 0.7em;
        font-size: 2.5em;
      }
    </style>

  </head>
  <body>
    
    <div class="container">
      
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CMS</a>
        </div>
      
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{User}} <i class="fa fa-user fa-lg" aria-hidden="true"></i><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fas fa-user-plus fa-lg fa-fw" aria-hidden="true"></i> &nbsp;Add Contact  </a></li>
                <li><a href="#"><i class="fas fa-heart fa-lg fa-fw" aria-hidden="true"></i> &nbsp;Favorites</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt fa-lg fa-fw"></i> &nbsp;Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      
    </div>

    <!-- -------------Contact list------------------- -->
    <div class="container">  
      <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Contact List of {{UserName}}</h2>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr class="center">
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Work</th>
                  <th>Email</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>9012345678</td>
                  <td>9876543210</td>
                  <td>lorem@test.com</td>
                  <td><i class="fas fa-edit fa-lg btn"></i></td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>9012345678</td>
                  <td>9876543210</td>
                  <td>lorem@test.com</td>
                  <td><i class="fas fa-edit fa-lg btn"></i></td>
                </tr>
                <tr>
                  <td>Lorem ipsum</td>
                  <td>9012345678</td>
                  <td>9876543210</td>
                  <td>lorem@test.com</td>
                  <td><i class="fas fa-edit fa-lg btn"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
