  <div class="container">
      
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/home']" >CMS</a>          
        </div>
      
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/user']">User</a></li>
            <li><a [routerLink]="['/github']" >Github</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{User}} <i class="fa fa-user fa-lg" aria-hidden="true"></i><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fas fa-user-plus fa-lg fa-fw" aria-hidden="true"></i> &nbsp;Add Contact  </a></li>
                <li><a href="#"><i class="fas fa-heart fa-lg fa-fw" aria-hidden="true"></i> &nbsp;Favorites</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt fa-lg fa-fw"></i> &nbsp;Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      
    </div>

    <!-- -------------Contact list------------------- -->
    <div class="container">  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Contact List of {{user}}</h2>
        </div>
        <div class="panel-body">
          <div class="container" *ngIf="userRole === 'user'">
            <a class="btn btn-primary" [routerLink]="['/contact']" route>
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Add New Contact
            </a>
            <table class="table table-hover" *ngIf="contact && contact.length; else noData">
              <thead>
                <tr class="center">
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Work</th>
                  <th>Email</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cont of contact">
                  <td>{{cont.name}}</td>
                  <td>{{cont.mobile}}</td>
                  <td>{{cont.work}}</td>
                  <td>{{cont.email}}</td>
                  <td><i class="fas fa-edit fa-lg btn"></i>
                    <!-- <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- --------------Panel for Admin------------ -->
          <div class="container"  *ngIf="userRole === 'admin'">
            <h2>Welcome Admin {{user}}</h2>
            <h3>You have access to add users.</h3>
            <a class="btn btn-info" [routerLink]="['/register']">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Add New User
            </a>
          </div>
        </div>
      </div>
    </div>