<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" [routerLink]="['/home']" >CMS</a>          
    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/user']">User</a></li>
        <li><a [routerLink]="['/github']" >Github</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/register']" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a [routerLink]="['/login']" routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="user" ><span class="glyphicon glyphicon-home"></span> Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>


  <div class="container">
      
      <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
          </div>
          <div class="panel-body">
              <form class="form" #form="ngForm" (submit)="submitForm(form)">   <!--  Form start  -->
                <div class="form-group" [class.has-error]="Name.invalid && Name.touched">
                  <label for="uname" class="control-label">User Name:</label>
                  <input  class="form-control" 
                          type="text" 
                          id="uname" 
                          name="uName" 
                          [(ngModel)]="myModel.uName" 
                          #Name="ngModel"
                  required/>

                  <div class="alert alert-danger" *ngIf="Name.invalid && Name.touched">Please enter User name </div>
                </div>
              <!-- <br><br> -->
                <div class="form-group" [class.has-error]="Pass.invalid && Pass.touched">
                  <label for="upass"  class="control-label">Password:</label>
                  <input  class="form-control" 
                          type="text" 
                          id="upass" 
                          name="uPass" 
                          minlength="8" 
                          [(ngModel)]="myModel.uPass" 
                          #Pass="ngModel" 
                  required/>
                  <div class="alert alert-danger" *ngIf="Pass.invalid && Pass.touched">
                    Password should be 8 character long 
                  </div>

                </div>
              <!-- <br><br> -->
              
              


                <div class="form-group row">
                  <div class="col-sm-offset-1">
                    <button class="form-control" type="submit" class="btn btn-success">Submit</button>
                    &nbsp; &nbsp;
                    <button class="form-control" type="reset" class="btn btn-dark">Reset</button>
                  </div>
                </div>
                                 
              </form>
          </div>
      </div>
      
  </div>
  
</div>

